@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

        /*General Page Properties*/
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;
        }
        
        body {
            background: #ffffff;
            font: 16px;
            font-family: "Poppins", sans-serif;
            width: 100%;
        }

        a{
            text-decoration: none;
            color: black;
        }

        span{
            color: white;
        }

        /* Navbar Properties */
        *,
        *:before,
        *:after{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        nav{
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: auto;
        }

        a{
            position: relative;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
            color: #a0a0a0;
            font-size: 18px;
            letter-spacing: 0.5px;
            padding: 0 10px;
        }

        a:after{
            content: "";
            position: absolute;
            background-color: #a41622;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.3s;
        }

        a:hover{
            color: black;
        }
        
        a:hover:after{
            width: 100%;
        }

        #link:hover {
            background-color: none;
            text-decoration: none;
        }

        /*Header Properties*/
        .flex-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items:center;
            height: 200px;
            text-align: center;
        }

        /* .navbar a{
            color: #292d33;
            text-transform: uppercase;
        }

        .navbar:hover{
            background: #292d33;
            color: white;
        } */
        
        /*Center Page Properties*/
        td {
            width: 50%;
            box-sizing: border-box;
            margin: 10px;
        }

        td.sx {
            border-right: 1px solid #000;
            padding-right: 20px;
            margin: 10px;
        }

        td.dx {
            padding-left: 20px;
            margin: 10px;
        }

        .text{
            border: 5px solid #a41622;
            border-radius: 3px;
            text-align: center;
            color: #a41622;
        }

        #description{
            margin-left: 0;
        }

        /*Footer Information*/
        .footer{
            background: #c2c2c2;
            height: 100px;
            margin-top: 20px;
        }

        #copyright {
            text-align: center;
            color: #292d33;
            padding-top: 80px;
            font-family: "Poppins", sans-serif;
        }

        #copy{
            color: black;
        }
