@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
        
        /*General Page Properties*/
        *,
        *:before,
        *:after {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;
        }
        /* Video Properties */
        #video {
            position:fixed;
            left:0;
            top:0;
            min-width:100%;
            min-height:100%;
            width:auto;
            height:auto;
            z-index:-100;
            visibility: visible;
            filter: blur(10px);
            -webkit-filter: blur(10px);
        }
        
        body {
            background: #ffffff;
            font: 16px;
            font-family: "Poppins", sans-serif;
            width: 100%;
        }

        span {
            color: white;
        }

        /* Navbar Properties */
        nav {
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: auto;
        }

        a {
            position: relative;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
            color: #444444;
            font-size: 18px;
            letter-spacing: 0.5px;
            padding: 0 10px;
        }

        #elab:after {
            content: "";
            position: absolute;
            background-color: #a41622;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.3s;
        }

        #elab:hover {
            color: black;
        }
        
        #elab:hover:after {
            width: 100%;
        }

        #link:hover {
            background-color: none;
            text-decoration: none;
        }

        /*Progress Bar*/
        .circular-progress {
            position: relative;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            margin-top: 33px;
            margin-left: 300px;
            right: 10px;
        }

        .circular-progress:before {
            content: "";
            position: absolute;
            height: 84%;
            width: 84%;
            background-color: #ffffff;
            border-radius: 50%;
        }

        .value-container {
            position: relative;
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            color: #a41622;
            text-align: right;
        }

        /*Header Properties*/
        .flex-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items:center;
            height: 200px;
            text-align: center;
        }
        
        /*Center Page Properties*/
        td.sx {
            border-right: 1px solid #000;
            padding-right: 20px;
            margin: 10px;
            width: 35%;
        }

        td.dx {
            padding-left: 20px;
            margin: 10px;
        }

        .text {
            border: 3px solid #a41622;
            border-radius: 3px;
            text-align: center;
            color: #a41622;
        }

        #description {
            margin-left: 0;
        }

        /*Footer Information*/
        .footer {
            background: #dfd2d2;
            height: 100px;
            margin-top: 20px;
        }

        #copyright {
            text-align: center;
            color: #292d33;
            padding-top: 80px;
            font-family: "Poppins", sans-serif;
        }

        #copy {
            color: black;
        }