@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

        /*General Page Properties*/
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;
        }
        
        body {
            background: #ffffff;
            font: 16px;
            font-family: "Poppins", sans-serif;
            width: 100%;
        }

        a{
            text-decoration: none;
            color: black;
        }

        span{
            color: white;
        }

        /*Header Properties*/
        .flex-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items:center;
            height: 200px;
            text-align: center;
        }

        .navbar a{
            color: #292d33;
            text-transform: uppercase;
        }

        .navbar:hover{
            background: #292d33;
            color: white;
        }
        
        /*Center Page Properties*/
        td {
            width: 50%;
            box-sizing: border-box;
            margin: 10px;
        }

        td.sx {
            border-right: 1px solid #000;
            padding-right: 20px;
            margin: 10px;
        }

        td.dx {
            padding-left: 20px;
            margin: 10px;
        }

        .text{
            border: 5px solid #a41622;
            border-radius: 3px;
            text-align: center;
            color: #a41622;
        }

        /*Footer Information*/
        .footer{
            background: #c2c2c2;
            height: 100px;
            margin-top: 20px;
        }

        #copyright {
            text-align: center;
            color: #292d33;
            padding-top: 80px;
            font-family: "Poppins", sans-serif;
        }

        #copy{
            color: black;
        }
